// aplication colors
$primary: #64052d;
$primary-light: #a34a6d;
$primary-dark: #3d2121;
$secondary: #ff4081;
$secondary-light: #ff79b0;
$secondary-dark: #c60055;
$success: #4caf50;
$success-light: #80e27e;
$success-dark: #087f23;
$warning: #ffc107;
$warning-light: #fff350;
$warning-dark: #c79100;
$danger: #f44336;
$danger-light: #ff7961;
$danger-dark: #ba000d;
$light: #f1f1f1;
$dark: #291111f6;
$dark2: #3d2121;
$space: #fdb1fe;
$space-light: #ffdbff;
$space-dark: #c887c8;

// path images
$logo-img: url("../assets/images/logo.png");
$about-img: url("../assets/images/about-img.jpg");
$contact-img: url("../assets/images/callc.png");
$wasap-img: url("../assets/images/wasap.png");
